/* ==== general style of all page ==== */

html{
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
}

header{
    height: 12.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 68);
    color:white;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

section{
    padding: 0 10vw;
}

section>*{
    margin: 0.5rem;
}


h1{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

h2{
    font-size:1.25rem;
    text-align:center;
}

form{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.topic{
    margin:5vh auto 0;
    text-align:center;
}

.topic p{
    letter-spacing:0.1rem;
    margin: 1.5vh auto;
}

.link{
    color:rgb(42, 42, 139);
    transition: color 0.2s;
}

.link:hover{
    color: rgb(49, 49, 214);
}

/* ==== form field, form empty check, error message ==== */

.sign-in{
    margin:5vh auto 3vh;
}


.form-control{
    margin: 1vh auto;
    position: relative;
}

.form-control label{
    display: block;
    color:rgb(73, 73, 73);
}

.form-control input{
    padding: 5px;
    width: 200px;
    height: 1.75rem;
    border-radius: 4px;
    margin-bottom: 5px;
    border-style: solid;
    border: 1px solid rgb(161, 161, 161);
}

.form-control.error input{
    border-color: #e74c3c;
}


.form-control i{
    position: absolute;
    top: 33px;
    right: 6px;
    visibility: hidden;
    font-size: 0.6rem;
}

.form-control.error i.fa-exclamation-circle{
    visibility: visible;
    color: #e74c3c;
}

.form-control small{
    visibility: hidden;
    display: block;
    text-align: right;
    font-size: 0.6rem;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}

button{
    margin-top:1vh;
    padding: 0.25em 1.25em;
    transition:background-color 0.2s;
}

p{
   font-size: 1.25rem;
   margin: 20px auto; 
}


/* ========= pop-up modal ======== */

.modal-bg{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    justify-content:center;
    align-items:center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.modal-bg.show{
    visibility: visible;
    opacity: 1;
}

.sign-up{
    padding: 50px;
    position: relative;
    z-index: 100;
    border-bottom: 1px solid rgb(168, 168, 168);
    background-color: rgba(245, 245, 245);
    border-radius:10px;
}

.sign-in.hide{
    z-index: -1;
}

.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(128, 128, 128);
    transition: color 0.2s;
}

.modal-close:hover{
    color: rgb(61, 61, 61);
    cursor: pointer;
}

.signup{
    cursor: pointer;
    font-size: 0.9rem;
    transition:color 0.2s, border-bottom 0.2s;
    border-bottom: 2px solid transparent;
}

.signup:hover{
    color:  rgb(42, 42, 139);
    border-bottom: 1px solid rgb(42, 42, 139);
}


/* ======= flash message ====== */

.message{
    background-color:#c1f4d6;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s, visibility 0.2s;
    color: black;
}

.message i {
    position: absolute;
    top:3.5vh;
    right: 10px;
    color: grey;
}

.message.hide{
    visibility: hidden;
    opacity: 0;
}

/* ========= member page form field ========= */

.member-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7.5vh auto 3vh;
}

.member-action h2{
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    color:rgb(73, 73, 73);
}

.member-action form{
    display: block;
    margin-top: 2vh;
}

.member-action input{
    padding: 5px;
    width: 200px;
    height: 2rem;
    border-radius: 4px;
    margin-bottom: 5px;
    border-style: solid;
    border: 1px solid rgb(161, 161, 161);
    display: inline-block;
}

.member-action button{
    display: inline-block;
    margin-top:0;
    padding: 0.25em 0.75em;
}

.member-action p{
    font-size: 1rem;
    margin: 1vh auto;
    color:rgb(28, 89, 28);
}

.divider{
    width:120px;
    border-bottom: 2px solid rgb(221, 221, 221);
}

.member-action .form-control i{
    top: 0.7rem;
    right: 4rem;
}

.member-action .form-control small{
    text-align: left;
}