html{
    font-family: sans-serif;
}

body{
    background-color: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
}

header{
    height: 12.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 68);
    color:white;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2.5vh auto;
}

section{
    margin: 10px auto;
    padding: 0 10vw;
}

section>*{
    margin: 0.5rem;
}


h1{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

h2{
    font-size:1.25rem;
    text-align:center;
}

form{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}



form>div{
    margin: 1vh auto;
}

input{
    width: 200px;
    margin-left: 5px;
    height: 1.5rem;
}

button{
    margin-top:1vh;
    padding: 0.25em 1.25em;
}

.sign-up{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(168, 168, 168);
}


p{
   font-size: 1.25rem;
   margin: 20px auto; 
}