html{
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
}

header{
    height: 12.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 68);
    color:white;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2.5vh auto;
}

section{
    padding: 0 10vw;
}

section>*{
    margin: 0.5rem;
}


h1{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

h2{
    font-size:1.25rem;
    text-align:center;
}

form{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}



.form-control{
    margin: 1vh auto;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    padding: 5px;
    width: 200px;
    margin-left: 5px;
    height: 1.5rem;
    border-radius: 4px;
    border-style: solid;
    border: 1px solid rgb(161, 161, 161);
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}


.form-control i{
    position: absolute;
    top: 8px;
    right: 6px;
    visibility: hidden;
    font-size: 0.6rem;
}

.form-control.success i.fa-check-circle{
    visibility: visible;
    color: #2ecc71;

}

.form-control.error i.fa-exclamation-circle{
    visibility: visible;
    color: #e74c3c;
}

.form-control small{
    visibility: hidden;
    display: block;
    text-align: right;
    font-size: 0.6rem;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}

button{
    margin-top:1vh;
    padding: 0.25em 1.25em;
}


p{
   font-size: 1.25rem;
   margin: 20px auto; 
}

/* ======== modal ======== */
.modal-bg{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    justify-content:center;
    align-items:center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.modal-bg.show{
    visibility: visible;
    opacity: 1;
}

.sign-up{
    padding: 50px;
    position: relative;
    z-index: 100;
    border-bottom: 1px solid rgb(168, 168, 168);
    background-color: whitesmoke;
    border-radius:10px;
}

.sign-in.hide{
    z-index: -1;
}

.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(128, 128, 128);
    transition: color 0.2s;
}

.modal-close:hover{
    color: rgb(61, 61, 61);
    cursor: pointer;
}

.sign-up