<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>歡迎光臨，請輸入帳號密碼</h1>
    </header>

    <main>
        <h2>登入系統</h2>
        <form action="/signin" method="POST">
            <label for="username">帳號</label>
            <input type="text" placeholder="username" name="username">
            <label for="username">密碼</label>
            <input type="password" placeholder="password" name="password">
            <button>登入</button>
        </form>
    </main>
</body>

</html>