{% extends "base.html"%}

{% block content %}

    <header>
        <h1>歡迎光臨</h1>
    </header>

    <main>
        {% for message in get_flashed_messages() %}
            {% if message %}
                <div class="message" id="message">
                    {{message}}
                    <i class="fas fa-times message-close" id="message-close"></i>
                </div>
            {% endif%}
        {% endfor %}
        <section class="modal-bg" id="modal-bg">
            <div class="sign-up">
                <h2>註冊系統</h2>
                <form action="/signup" method="POST" id="sign-up-form">
                    <div class="form-control">
                        <label for="name">姓名</label>
                        <input type="text" name="name" id="name">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label for="sign-up-username">帳號</label>
                        <input type="text" name="username" id="sign-up-username">
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <label for="sign-up-password">密碼</label>
                        <input type="password" name="password" id="sign-up-password">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error Message</small>
                    </div>
                    <button>完成註冊</button>
                </form>
                <i class="fas fa-times modal-close" id="modal-close"></i>
            </div>
        </section>
        <section class="sign-in" id="sign-in">
            <h2>會員登入</h2>
            <form action="signin" method="POST" id="sign-in-form">
                <div class="form-control">
                    <label for="sign-in-username">帳號</label>
                    <input type="text" name="username" id="sign-in-username">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <label for="sign-in-password">密碼</label>
                    <input type="password" name="password" id="sign-in-password">
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
                <button>登入</button>
            </form>
        </section>
        <div class="signup" id="signup-modal">不是會員，點此註冊</div>
    </main>

    <script src="/static/script.js"></script>

{% endblock %}
   