{% extends "base.html"%}

{% block content %}

    <header>
        <h1>歡迎光臨，這是會員頁</h1>
    </header>

    <main>
        <div class="topic">
            <p><span id=updatedName>{{session['name']}}</span>，歡迎登入系統</p>
        </div>

        <div class="member-action">
            <h2>查詢會員姓名</h2>
            <form action="/api/users" id="inquireForm" method="GET">
                <div class="form-control">
                    <input type="text" id="inquireUsername" name="username" placeholder="請輸入會員帳號">
                    <button>查詢</button>
                </div>
            </form>
            <p id="inquireResult"></p>
        </div>
        
        <div class="divider"></div>

        <div class="member-action">
            <h2>更新我的姓名</h2>
            <form id="changeNameForm" method="POST">
                <div class="form-control">
                    <input type="text" id="nameToChange" name="username" placeholder="輸入新的姓名">
                    <button>更新</button>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
            </form>
            <p id="updateResult"></p>
        </div>
        
        <a class="link" href="/signout">登出系統</a>

    </main>

    <script src="/static/memberActions.js"></script>

{% endblock %}